- import java.util.Calendar

-@ val title: String
-@ val headline: String = title
-@ val body: String

!!! 5
html
  head
    title= "ryanbrainard.com - " + title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(href="rb-main.css" rel="stylesheet" type="text/css")
  body
    .titleBlock= headline.toLowerCase + "/"

    .subTitleBlock
      a(href="/" style="text-decoration:none") ryanbrainard.com

    .mainBlock
      != body

      #social-icons
        ul
          li
            a(href="https://www.facebook.com/ryanbrainard")
              img(src="/images/social-icons/facebook.png")
          li
            a(href="https://twitter.com/ryanbrainard")
              img(src="/images/social-icons/twitter.png")
          li
            a(href="https://www.github.com/ryanbrainard")
              img(src="/images/social-icons/github.png")
          li
            a(href="https://www.linkedin.com/in/ryanbrainard")
              img(src="/images/social-icons/linkedin.png")

    .rbImage
      img(src="images/rb.com-small.png" width="200" height="183")

    .disclaimerBlock
      | &copy;
      = Calendar.getInstance().get(Calendar.YEAR).toString
      | Ryan Brainard

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-1227751-1");
        pageTracker._trackPageview();
      } catch(err) {}