* {
	font-family: Roboto, Verdana, Arial, sans-serif;
}

body {
	clear: left;
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10vh;
	background-color: #F44336;
}

body, a:link, a:visited {
	color: #bbb;
}

a:active, a:hover {
	color: #FFCDD2;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFCDD2
}

code {
  font-family: monospace;
}

nav {
  margin-bottom: 10vh;
}

nav li {
  display: inline;
  list-style-type: none;
  padding-right: 3vw;
  font-size: xx-large;
}

nav li a {
  text-decoration: none;
}

nav li a i {
  vertical-align: bottom;
  color: #FFF;
}

nav li a i:hover {
  color: #FFCDD2
}

footer {
	text-align:center;
	font-size:x-small;
	color: #FFCDD2;
}
